<a href="https://colab.research.google.com/github/GURPREET746/Applied-data-science-capstone/blob/main/week2_2nd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install geocoder

Requirement already satisfied: geocoder in /usr/local/lib/python3.6/dist-packages (1.38.1)
Requirement already satisfied: ratelim in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.1.6)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (1.24.3)

In [2]:
import pandas as pd
import numpy as np
import geocoder

In [3]:
df = pd.read_csv('toronto.csv')
df.head()

  Postalcode         Borough                            Neighborhood
0      M1A\n  Not assigned\n                          Not assigned\n
1      M1B\n   Scarborough\n                          Malvern, Rouge
2      M1C\n   Scarborough\n  Rouge Hill, Port Union, Highland Creek
3      M1E\n   Scarborough\n       Guildwood, Morningside, West Hill
4      M1G\n   Scarborough\n                                  Woburn

In [4]:
print(df.shape)
df.describe()

(180, 3)

       Postalcode         Borough    Neighborhood
count         180             180             180
unique        180              11             100
top         M5S\n  Not assigned\n  Not assigned\n
freq            1              77              77

In [5]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.709020000000066, -79.36348999999996]

In [6]:
# Retrieving Postal Code Co-ordinates
postal_codes = df['Postalcode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]
# Adding Columns Latitude & Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']
df[df.Postalcode == 'M5G']

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood, Latitude, Longitude]
Index: []

In [7]:
df.head(15)

   Postalcode         Borough  ...  Latitude  Longitude
0       M1A\n  Not assigned\n  ...  43.64869  -79.38544
1       M1B\n   Scarborough\n  ...  43.81139  -79.19662
2       M1C\n   Scarborough\n  ...  43.78574  -79.15875
3       M1E\n   Scarborough\n  ...  43.76575  -79.17470
4       M1G\n   Scarborough\n  ...  43.76812  -79.21761
5       M1H\n   Scarborough\n  ...  43.76944  -79.23892
6       M1J\n   Scarborough\n  ...  43.74446  -79.23117
7       M1K\n   Scarborough\n  ...  43.72582  -79.26461
8       M1L\n   Scarborough\n  ...  43.71289  -79.28506
9       M1M\n   Scarborough\n  ...  43.72360  -79.23496
10      M1N\n   Scarborough\n  ...  43.69510  -79.26466
11      M1P\n   Scarborough\n  ...  43.75998  -79.26940
12      M1R\n   Scarborough\n  ...  43.75075  -79.30054
13      M1S\n   Scarborough\n  ...  43.79452  -79.26708
14      M1T\n   Scarborough\n  ...  43.78491  -79.29722

[15 rows x 5 columns]

In [9]:
df.to_csv('toronto_part2.csv',index=False)