<a href="https://colab.research.google.com/github/GURPREET746/Applied-data-science-capstone/blob/main/week2_1st.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Scraping Wikipedia page and creating a Dataframe and Transforming the data on Wiki page into pandas dataframe.**
Importing Libraries

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
extracting_data = requests.get(url).text
wiki_data = BeautifulSoup(extracting_data, 'lxml')

# Converting content of PostalCode HTML table as dataframe

In [4]:
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)

content = wiki_data.find('div', class_='mw-parser-output')
table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

In [5]:
# clean dataframe 
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1

In [6]:
df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df

    Postalcode  ...                                       Neighborhood
0        M1A\n  ...                                     Not assigned\n
1        M1B\n  ...                                     Malvern, Rouge
2        M1C\n  ...             Rouge Hill, Port Union, Highland Creek
3        M1E\n  ...                  Guildwood, Morningside, West Hill
4        M1G\n  ...                                             Woburn
..         ...  ...                                                ...
175      M9V\n  ...  South Steeles, Silverstone, Humbergate, Jamest...
176      M9W\n  ...                Northwest, West Humber - Clairville
177      M9X\n  ...                                     Not assigned\n
178      M9Y\n  ...                                     Not assigned\n
179      M9Z\n  ...                                     Not assigned\n

[180 rows x 3 columns]

In [7]:

df.describe()

       Postalcode         Borough    Neighborhood
count         180             180             180
unique        180              11             100
top         M6H\n  Not assigned\n  Not assigned\n
freq            1              77              77


Data Cleaning | Drop None rows of df and row which contains 'Not assigned' value | All "Not assigned" will be replace to 'NaN'

In [8]:
df = df.dropna()
empty = 'Not assigned'
df = df[(df.Postalcode != empty ) & (df.Borough != empty) & (df.Neighborhood != empty)]

In [9]:
df.head()

  Postalcode         Borough                            Neighborhood
0      M1A\n  Not assigned\n                          Not assigned\n
1      M1B\n   Scarborough\n                          Malvern, Rouge
2      M1C\n   Scarborough\n  Rouge Hill, Port Union, Highland Creek
3      M1E\n   Scarborough\n       Guildwood, Morningside, West Hill
4      M1G\n   Scarborough\n                                  Woburn

In [10]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['Postalcode', 'Borough'])
df_2 = grp.apply(neighborhood_list).reset_index(name='Neighborhood')

In [11]:
df_2.describe()

       Postalcode         Borough    Neighborhood
count         180             180             180
unique        180              11             100
top         M6H\n  Not assigned\n  Not assigned\n
freq            1              77              77

In [14]:
print(df_2.shape)
df_2

(180, 3)

    Postalcode  ...                                       Neighborhood
0        M1A\n  ...                                     Not assigned\n
1        M1B\n  ...                                     Malvern, Rouge
2        M1C\n  ...             Rouge Hill, Port Union, Highland Creek
3        M1E\n  ...                  Guildwood, Morningside, West Hill
4        M1G\n  ...                                             Woburn
..         ...  ...                                                ...
175      M9V\n  ...  South Steeles, Silverstone, Humbergate, Jamest...
176      M9W\n  ...                Northwest, West Humber - Clairville
177      M9X\n  ...                                     Not assigned\n
178      M9Y\n  ...                                     Not assigned\n
179      M9Z\n  ...                                     Not assigned\n

[180 rows x 3 columns]

In [13]:
df_2.to_csv('toronto.csv', index=False)